.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    overflow-y: auto;
    background-color: yellow;
    gap: 100px;
    padding: 20px;
  }